<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%blue{%d{HH:mm:ss.SSS}} %white{[%t]} %highlight{%-5level} %magenta{%c{1.}} :: %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.verticle.scaling" level="DEBUG"/>
    <Logger name="com.eventloops" level="DEBUG"/>
    <Logger name="com.eventbus" level="DEBUG"/>
    <Logger name="com.worker.threads" level="DEBUG"/>
    <Logger name="com.ozzy.vertex_starter_v2" level="DEBUG"/>
    <Logger name="com.sensor" level="DEBUG"/>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
